* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: #eceef1;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
}

a {
  color: #0077c5;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.nav-text {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  font-size: 0.75rem;
  margin-top: 2px;
  color: rgb(97, 97, 97);
  text-align: right;
}

.nav-text a {
  text-decoration: none;
  margin-top: 5px;
  color: #0077c5;
}

.nav button {
  background-color: #0077c5;
  color: white;
  height: 33px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 4px;
  padding: 8px 20px 8px 39px;
  margin-right: 20px;
  position: relative;
}

.nav i {
  font-size: 0.75rem;
  position: absolute;
  top: 35%;
  left: 18%;
}

.header-img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

form {
  max-width: 400px;
  display: block;
  margin: auto;
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  position: relative;
  padding-bottom: 45px !important;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

form h2 {
  font-size: 1.6rem;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 200;
}

form p {
  text-align: center;
  line-height: 1.2;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  margin: 10px auto;
  height: 35px;
  display: block;
  border-radius: 2px;
  border: 1px solid gray;
  padding: 1px 15px;
}
form .phone {
  margin-bottom: 3px;
}

form span {
  font-size: 0.6rem;
  display: block;
  margin-bottom: 10px;
}

.captcha {
  background-color: rgb(238, 238, 238);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 45px;
}

.captcha p {
  font-size: 0.6rem;
  padding: 10px;
  transform: translateY(30%);
}
